<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-primary" #btn >Add</button>
    </div>
<div class="col-3">
    Data
<ul id="con">

</ul>
</div>
<div class="col-3">
    <ul id="con1">

</ul>
</div>
</div>

<!-- <div *ngFor="let arr of arraydata">
    {{arr.a}} {{arr.b}}
</div> -->
<!-- {{obsmsg.fname}} {{obsmsg.lname}}{{obsmsg.age}} -->


<!-- <button type="button" class="btn btn-primary" (click)="fetchdata()">Fetch Data</button>
<div *ngFor="let arr of arraydata">
    {{arr}}
</div> -->

