<div class="container m-2">
    
    <h1>Resume using Reactive Forms</h1>
    Angular Generated Form -{{employeeForm.value |json}}<br>
    <h4>
    Dirty:{{employeeForm.dirty}}
    pristine:{{employeeForm.pristine}}<br>
    touched:{{employeeForm.touched}}
    untouched:{{employeeForm.untouched}}<br>
    valid:{{employeeForm.valid}}
    invalid:{{employeeForm.invalid}}</h4>
    <br>
    <form (ngSubmit)="AddResume()" [formGroup]="employeeForm">
        <div class="from-group col-6">
            <label>FullName</label>
            <input type="text" class="form-control"
           formControlName="fullName" 
           [class.is-invalid]="getfullName && getfullName.invalid && getfullName.touched">
        </div>
        <div *ngIf="getfullName && getfullName.invalid && getfullName.touched">
            <span class="text-danger" *ngIf="getfullName.errors?.['required']" >FullName is required</span>
            <span class="text-danger" *ngIf="getfullName.errors?.['minlength'] ||getfullName.errors?.['maxlength'] " >min 2 and max 10 char</span>
            <span class="text-danger" 
            *ngIf="getfullName.errors?.['invalidname']" >
                {{getfullName.value}} not allowed </span>
        </div>
        <div class="from-group col-6">
            <label>Email</label>
            <input type="text" class="form-control"
            formControlName="Email"   [class.is-invalid]="getEmail && getEmail.invalid && getEmail.touched">
            <div *ngIf="getEmail && getEmail.invalid && getEmail.touched">
                <span class="text-danger" *ngIf="getEmail.errors?.['required']">Email is required</span>
                <span class="text-danger" *ngIf="getEmail.errors?.['invalidemail']">
                    {{getEmail.errors?.['invalidemail'].err}}</span>               
            </div>
        </div>
            <div class="from-group col-6">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="pwd" >
            </div>
            <div class="from-group col-6">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="cpwd" >
            </div>
            <span *ngIf="employeeForm.invalid && employeeForm.touched && employeeForm.errors?.['mismatch']" 
            class="text-danger">Password and confirm Password are not same</span><br>

            <button class="btn btn-primary" (click)="AddSkills()">Add Skill</button>
    <div formArrayName="skills" *ngFor="let s of getSkill.controls;index as i">
        <hr class="m-2" *ngIf="i>0">
        <div [formGroupName]="i" class="mt-2">
            <div class="row">
               <div class="col-2">
                <input type="text" class="form-control" 
                formControlName="skillName" placeholder="skillname">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" 
                formControlName="exp" placeholder="experience">            
            </div>
            <div class=" col-4 from-group">
                <input type="radio" formControlName="proficiency"  value="beginner" class="form-check-inline">Beginner
                <input type="radio" formControlName="proficiency" value="intermediate" class="form-check-inline">Intermediate
                <input type="radio" formControlName="proficiency" value="advanced" class="form-check-inline">Advanced
            </div>         
            <div class="col-1" *ngIf="getSkill.length>1">
                <button class="btn btn-danger" (click)="RemoveSkill(i)"><i class="bi bi-trash-fill"></i></button>
            </div>  </div></div>
        <div *ngIf="s.get('skillName')?.invalid && s.get('skillName')?.touched ">
            <span class="text-danger" *ngIf="s.get('skillName')?.errors?.['invalidskill']">
                {{s.get('skillName')?.errors?.['invalidskill'].value}} is not allowed
            </span>
        </div>
        <div *ngIf="s.get('exp')?.invalid && s.get('exp')?.touched ">
            <span class="text-danger" *ngIf="s.get('exp')?.errors?.['invalidskill']">
                {{s.get('exp')?.errors?.['invalidskill'].value}} is not allowed
            </span>
        </div>
    </div>
        <button type="submit" class="btn btn-primary m-2">Submit</button>
        <button type="button" class="btn btn-success m-2"
        (click)="loadData()">Load Data</button>
    </form>
</div>

