
<!-- <button (click)="openalert()">NewsLetter</button> -->


<!-- <div>Show:
    <input type="radio" name="emp" value="all"
    (change)="Radiobtnvaluechange()"
    [(ngModel)]="selectedRadioBtnValue">All ({{all}})
    <input type="radio" name="emp" value="female"
    (change)="Radiobtnvaluechange()" [(ngModel)]="selectedRadioBtnValue">Female ({{female}})
    <input type="radio" name="emp" value="male"
    (change)="Radiobtnvaluechange()" [(ngModel)]="selectedRadioBtnValue">male ({{male}})
</div>
  -->


  <div class="bg-info text-danger col-8 p-2">Show:
    <input type="radio" name="emp" value="all" [(ngModel)]="selectedRadioBtnValue"
    class="form-check-inline">All ({{all}})
    <input type="radio" name="emp" value="female" [(ngModel)]="selectedRadioBtnValue"
    class="form-check-inline">Female ({{female}})
    <input type="radio" name="emp" value="male" [(ngModel)]="selectedRadioBtnValue"
    class="form-check-inline">male ({{male}})
</div>
 
