<!-- <h1 appCustom>Hello Angular</h1> -->
    <!-- <h1>Hello {{title}}</h1>
    <h2>{{2+3}}</h2> -->

<!-- <app-employee></app-employee> -->
 <!-- <app-emplist></app-emplist> -->
<!-- <hr> -->
<!-- <app-add-employee></app-add-employee> -->

<!-- <app-parentlifecycle></app-parentlifecycle> -->

<!-- {{emp | json}}
<div *ngFor="let e of emp | keyvalue">
       Key= {{e.key}} and value= {{e.value}}
</div> -->

<!-- <app-contactus></app-contactus> -->
<!-- <hr> -->
<!-- <app-notification></app-notification> -->

<!-- <app-products></app-products> -->

<!-- <button type="button" class="btn btn-primary" (click)="toggle=!toggle">Toggle Button</button>
<div *ngIf="toggle">hello</div>
<ng-template [ngIf]="toggle">hello</ng-template>


<div *appIfdirective="toggle">
    This is my custom structural directive
</div> -->

<!-- <ng-template [appIfdirective]="toggle"> This is my custom structural directive</ng-template> -->


<!-- <app-resume></app-resume> -->

<!-- <app-servicedemo></app-servicedemo> -->
<app-header></app-header>
<div class="container-fluid m-2">
<router-outlet></router-outlet>
</div>
